@using Bulgaria_at_the_Olympics.Classes 
@model IEnumerable<Bulgaria_at_the_Olympics.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Публикации</h2>

<p>
    @Html.ActionLink("Нова публикация", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Заглавие
        </th>
        <th>
            Съдържание
        </th>
        <th>
            Дата
        </th>
        <th>
            Автор   
        </th>
        <th>
            Действия
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Utils.CutText(item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @if(item.Author != null)
            {
                @item.Author.UserName
            }
            else
            {
                <i>(няма автор)</i>
            }
        </td>
        <td>
            @if (User.IsInRole("Administrator") || (item.Author != null && User.Identity.Name == item.Author.UserName))
            {
                @Html.ActionLink("Промени", "Edit", new { id = item.Id }) @:|
            }
            @Html.ActionLink("Детайли", "Details", new { id=item.Id }) 
            @if (User.IsInRole("Administrator") || (item.Author != null && User.Identity.Name == item.Author.UserName))
            {
                @:| @Html.ActionLink("Изтриване", "Delete", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>
